* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  overflow: hidden;
}

body {
  background-color: #212121;
  

}

a {
  color: #D8D8D8;
  text-decoration: none;
}

a:hover {
  color: #0000FF;
}

#upper_plank {
  z-index: 99;
  position: absolute;
  color: #D8D8D8;
  height: 60vh;
  width: 100vw;

}

#heading {
  position: absolute;
  z-index: 9;
  bottom: 8%;
  left: 17%;
  font-size: 4.7vw;
  font-weight: 300;
}



#bottom_plank {
  position: absolute;
  bottom: 0;
  background-color: #020202b9;
  color: #D8D8D8;
  height: 20vh;
  width: 100vw;
}

#social {
  position: absolute;
  bottom: 3.5vw;
  right: 3.5vw;
  font-size: 2.5vw;
  letter-spacing: 0.7vw;
}

#email {
  position: absolute;
  bottom: 4.4vw;
  left: 3vw;
  font-size: 1.2vw;
  font-weight: 300;
}



@media only screen and (orientation: portrait){
  #upper_plank {
      z-index: 99;
      position: absolute;
      color: #D8D8D8;
      height: 60vh;
      width: 100vw;

  }

  #heading {
      position: absolute;
      z-index: 9;
      bottom: 8%;
      left: 17%;
      font-size: 4.7vh;
      font-weight: 300;
      line-height: 150%;
      width: 6vw;
  }

  #name {
      font-size: 1vh;
  }



  #bottom_plank {
      position: absolute;
      bottom: 0;
      background-color: #020202b9;
      color: #D8D8D8;
      height: 20vh;
      width: 100vw;
      

  }

  #social {
      position: relative;
      top: 10%;
      width: 100%;
      font-size: 6vw;
      letter-spacing: 1vw;
      text-align: center;
  }

  #email {
      position: relative;
      top: 50%;
      width: 100%;
      font-size: 4vw;
      font-weight: 300;
      left: 20vw;
  }

}

@media only screen and (min-width:321px) and (max-width:1024px) and (orientation: portrait){
  #upper_plank {
      z-index: 99;
      position: absolute;
      color: #D8D8D8;
      height: 60vh;
      width: 100vw;

  }

  #heading {
      position: absolute;
      z-index: 9;
      bottom: 8%;
      left: 17%;
      font-size: 4.7vh;
      font-weight: 300;
      line-height: 150%;
      width: 69vw;
  }

  #name {
      font-size: 8vh;
  }



  #bottom_plank {
      position: absolute;
      bottom: 0;
      background-color: #020202b9;
      color: #D8D8D8;
      height: 20vh;
      width: 100vw;
      

  }

  #social {
      position: relative;
      top: 6%;
      width: 100%;
      font-size: 6vw;
      letter-spacing: 2vw;
      text-align: center;
  }

  #email {
      position: relative;
      top: 60%;
      width: 100%;
      font-size: 4vw;
      font-weight: 300;
      left: 20vw;
  }
}




